.home {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5ebeb;
    min-height: 100vh;
    flex-direction: column;
    box-shadow: 4px 8px 4px 4px rgba(134,112,112,.5);
    color: rgb(134, 112, 112);
  }
  
  h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .table-container {
    margin-top: 20px;
  }
  
  .add {
    /* margin-bottom: 10px; */
    text-align: right;
  }
  .add a {
    background-color: #867070;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .add a:hover {
    background-color: #E4D0D0;
    color: #000;
  }
  .table {
    border-collapse: separate;
    border-spacing: 0 15px;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #D5B4B4;
  }
  
  td:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  td:last-child a, td:last-child button {
    background-color: #867070;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 4px;
  }
  
  td:last-child a:hover, td:last-child button:hover {
    background-color: #E4D0D0;
    color: #000;
  }
  .deleteBtn{
    background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  }